#head{
    text-align: center;
    color:#f2f2ed;
    font-family: 'Great Vibes', cursive;
}
 .page-header {
        background-color: #510000;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
    }

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 36pt;
        text-decoration: none;
    }
#usr{
    
    font-family: 'Jockey One', sans-serif;
    font-size: 30px;
    color:#6d0000;
}
#pub{
    
    font-family: 'Stardos Stencil', cursive;
    font-size: 25px;
    color: black;
}

#pub{
    
    font-family: 'Stardos Stencil', cursive;
    font-size: 25px;
    color: white;
}

#cont {
    font-family: 'Nova Round', cursive;
    font-size: 20px;
    color: black;
}
